[submodule "appview"]
	path = appview
	url = https://github.com/cerulia-app/appview.git
[submodule "protocol"]
	path = protocol
	url = https://github.com/cerulia-app/protocol.git
[submodule "api"]
	path = api
	url = https://github.com/cerulia-app/api.git
[submodule "projection"]
	path = projection
	url = https://github.com/cerulia-app/projection.git
